<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <h2>Home of the application</h2>
    <hr>

    <p>
    Welcome to the home of the application
    </p>
    <!-- Display users and passwords -->
    <hr>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    <hr>
    <br>
    <!-- Add a link to /leaders, this is only for the managers-->
    <p>
        <a th:href="@{/leaders}">Leadership meeting (Only for managers)</a>
    </p>

    <p>
        <a th:href="@{/systems}">IT Systems meeting (Only for admins)</a>
    </p>

    <form action="#" th:action="@{/logout}" METHOD="POST">
        <input type="submit" value="Logout"></input>
    </form>

</body>
</html>